[submodule "ghc-tcplugins-trace"]
	path = ghc-tcplugins-trace
	url = https://github.com/blockscope/ghc-tcplugins-trace
[submodule "simple-smt"]
	path = simple-smt
	url = https://github.com/BlockScope/simple-smt
