name: stack

on:
  push:
    branches: [ci-stack, wip/ghc-lib, wip/thoralf]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        ghc:
          - "8.2.2"
          - "8.4.4"
          - "8.6.5"
          - "8.8.3"

    steps:
    - uses: mstksg/get-package@v1
      name: Install OS Packages
      with:
        apt-get: libgmp-dev

    - uses: actions/checkout@v2
      with:
        submodules: true

    - uses: mstksg/setup-stack@v1
      name: Setup Stack

    - name: Cache Key
      id: cache_key
      run: echo ::set-output name=key::$(md5sum ./stack/stack-${{ matrix.ghc }}.yaml | awk '{print $1}')

    - uses: actions/cache@v1
      name: Cache ~/.stack
      id: cache
      with:
        path: ~/.stack
        key: ${{ matrix.os }}-${{ matrix.ghc }}-${{ steps.cache_key.outputs.key }}

    - uses: pavpanchekha/setup-z3@1.2.2
      name: setup z3
      with:
        version: "4.8.7"

    - name: build tests
      run: stack test --no-run-tests --no-terminal --stack-yaml=./stack/stack-${{ matrix.ghc }}.yaml

    - name: test uom-plugin-tutorial
      run: stack test uom-plugin-tutorial --no-terminal --test-arguments "--color=always" --stack-yaml=./stack/stack-${{ matrix.ghc }}.yaml

    - name: test uom-plugin
      run: stack test uom-plugin --no-terminal --test-arguments "--color=always" --stack-yaml=./stack/stack-${{ matrix.ghc }}.yaml

    - name: test thoralf-plugin
      run: stack test thoralf-plugin --no-terminal --test-arguments "--color=always" --stack-yaml=./stack/stack-${{ matrix.ghc }}.yaml